jieba==0.42.1
langchain==1.2.10
langchain-community==0.3.31
langchain-core==1.2.15
langchain-openai==1.1.10
langchain-text-splitters==0.3.11
neo4j==6.1.0
openai==2.30.0
pandas==2.2.3
py2neo==2021.2.4
pymupdf-layout==1.27.2.2
pymupdf4llm==1.27.2.2
ragas==0.4.2
requests==2.32.5
oss2>=2.18.6
sentence-transformers==5.2.0
streamlit>=1.40.0
fastapi>=0.115.0
uvicorn[standard]>=0.30.0
transformers==4.57.3
python-dotenv>=1.0.0
